*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  font-family: "Sixtyfour", sans-serif;
  font-size: 1.5em;
  color: #bb0000ab;
}

.zamay {
  display: block;
  background-color: pink;
  padding: 20px;
  filter: blur(20px);
}

.header,
footer {
  text-align: center;
  padding: 20px;
  background-color: #e66465;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  margin-top: auto;
}
